*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Inter',sans-serif;
}

body{
background:#f6f7fb;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
width:100%;
display:flex;
justify-content:center;
padding:20px;
}

.login-card{
width:380px;
background:#fff;
padding:40px;
border-radius:18px;
box-shadow:0 10px 35px rgba(0,0,0,.08);
border:1px solid #e5e7eb;
}

.logo{
width:50px;
height:50px;
background:#111827;
color:#fff;
border-radius:14px;
display:flex;
justify-content:center;
align-items:center;
font-size:22px;
margin:auto;
margin-bottom:25px;
}

h1{
text-align:center;
font-size:28px;
margin-bottom:8px;
}

p{
text-align:center;
color:#6b7280;
margin-bottom:28px;
}

label{
display:block;
font-size:14px;
font-weight:600;
margin-bottom:8px;
}

input{
width:100%;
padding:13px 15px;
border:1px solid #d1d5db;
border-radius:10px;
font-size:15px;
outline:none;
transition:.3s;
}

input:focus{
border-color:#111827;
box-shadow:0 0 0 3px rgba(17,24,39,.08);
}

.password-header{
display:flex;
justify-content:space-between;
align-items:center;
margin-top:20px;
margin-bottom:8px;
}

.password-header a{
font-size:13px;
text-decoration:none;
color:#111827;
}

.password-box{
position:relative;
}

#togglePassword{
position:absolute;
right:12px;
top:50%;
transform:translateY(-50%);
border:none;
background:none;
cursor:pointer;
font-weight:600;
color:#555;
}

.login-btn{
width:100%;
margin-top:25px;
padding:14px;
border:none;
background:#111827;
color:#fff;
font-size:15px;
font-weight:600;
border-radius:10px;
cursor:pointer;
transition:.3s;
}

.login-btn:hover{
background:#000;
}

.bottom{
margin-top:25px;
text-align:center;
font-size:14px;
color:#6b7280;
}

.bottom a{
color:#111827;
text-decoration:none;
font-weight:600;
}

#error{
display:block;
margin-top:8px;
color:#dc2626;
font-size:13px;
min-height:18px;
}